        .body-bg {
        background-image: url("../img/bg_repeat_fon_01.jpg");
        position: fixed;
        height: 500px;
        width: 100%;
        top: 0;
        z-index: -10;
    }

    .head {
        background-image: url("../img/bg.png");
        height: 150px;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }


    .logo {

        background-image: url(../img/logo_150_2.png);
        height: -webkit-fill-available;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        margin-left: 50px;
    }

    .fl {

        text-align: center;
    }

    .lb {

        text-align: center;
        font-size: 40px;
        color: ivory;
        line-height: normal;
    }

    .lb-add {

        text-align: center;
        font-size: 20px;
        color: ivory;
    }


    .hds {

        background-image: url(../img/hands.png);
        height: -webkit-fill-available;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        margin-left: -50px;
    }

    .flag-navbar {
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .head {
            position: fixed;
            height: 50px;
            z-index: 10;
        }


        .logo,
        .hds,
        .lb,
        .lb-add {
            display: none;
        }

        .fl {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 11;
        }
        .menu-eco {
            position: fixed;
            padding-top: 50px;
            z-index: 9;
        }

        .fon {
            padding-top: 100px;
        }
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .header-img {
        background-image: url("../img/bg.png");
        z-index: 1;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }

    .nav-eco {
        background-image: url("../img/bg.png");
        box-shadow: 0px 0px 16px 3px #151515 inset;
        z-index: 1;
    }

    .menu-eco {
        padding-left: 0;
        padding-right: 0;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .flag {
        width: 50px;
        height: 30px;
        margin: 5px;
        z-index: 2;
        background-size: contain;
    }

    .flag-rus {
        background-image: url("../img/001gr.png");
        background-size: cover;

    }

    .flag-rus:hover,
    .flag-rus-active {
        background-image: url("../img/001.png");
        background-size: cover;
    }

    .flag-gbr {
        background-image: url("../img/002gr.png");
        background-size: cover;
    }

    .flag-gbr:hover,
    .flag-gbr-active {
        background-image: url("../img/002.png");
        background-size: cover;
    }

    .flag-isr {
        background-image: url("../img/005gr.png");
        background-size: cover;
    }

    .flag-isr:hover,
    .flag-isr-active {
        background-image: url("../img/005.png");
        background-size: cover;
    }

    .flag-tur {
        background-image: url("../img/004gr.png");
        background-size: cover;
    }

    .flag-tur:hover,
    .flag-tur-active {
        background-image: url("../img/004.png");
        background-size: cover;
    }

    .mr-auto {
        margin: auto;
        text-transform: uppercase;
    }

    .about {
        width: 100%;
        height: 500px;
        background-image: url("../img/037_2.jpg");
        background-size: cover;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
        background-size: cover;
        overflow: hidden;
    }

    .intro_about {
        max-width: 100%;
        position: relative;
        top: 10px;
        z-index: 5;
        color: #000000;
        text-align: center;
        display: inline-block;
        margin-top: 50px;
        
    }

    .company {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
        color: black;
        font-size: 24px;

    }

    .intro_about-img {
        padding: 10px;
        max-width: 100%;
        max-height: -webkit-fill-available;
    }

    .production {
        width: 100%;

        background-image: url("../img/bg.png");
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
        overflow: hidden;
    }

    .production-image {
        padding: 50px;
        height: 400px;
        width: auto;
    }

    .production-title {
        color: white;
        padding-top: 50px;
        padding-left: 50px;
        margin-bottom: 15%;
        font-size: 20px;
    }

    .production-button {
        padding-top: 20px;
    }



    .prod-add {
        width: 100%;
        min-height: 400px;
        background-image: url("../img/back_02.jpg");
        background-size: cover;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
        background-size: cover;
    }

    .prod-add-title {
        color: ivory;
        padding-top: 30px;
        padding-left: 15px;
        padding-bottom: 30px;
        font-size: 20px;
    }

    .friends {
        width: 100%;
        background-image: url("../img/bg.png");
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }

    .friends-title {
        color: white;
        padding-top: 50px;
        width: 100%;
        margin-bottom: 15%;
        font-size: 20px;
    }

    .friends-image {
        padding-top: 30px;
        width: auto;
    }

    .prod-add-2 {
        width: 100%;
        min-height: 400px;
        background-image: url("../img/back_03.jpg");
        background-size: cover;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }

    .contacts {
        width: 100%;
        height: auto;
        background-image: url("../img/bg.png");
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }

    .contacts-hr {
        height: 2px;
        background-color: grey;
        border-bottom-width: 1px;
        border-bottom-color: hsl(0, 0%, 3%);
        border-bottom-style: groove;
        border-top-width: 1px;
        border-top-color: hsl(0, 0%, 3%);
        border-top-style: groove;
        box-shadow: 0px 0px 16px 3px #151515 inset;
    }

    .contacts-title {
        text-align: center;
        color: white;
        padding-top: 37px;
        font-size: 20px;
    }

    .contacts-icon {
        color: white;
    }

    .contacts-icon:hover {
        color: #339966;
    }



    @media (min-width: 991px) {

        .navbar-brand {
            display: none;
        }
    }

    @media (max-width: 991px) {

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        .hands,
        #eco-title-id,
        #eco-title-id-add,
        .logo-header {
            display: none;
        }

        .production-image {
            padding: 50px;
            height: auto;
            opacity: 0.2;
            width: auto;
        }

        .prod-img-col {
            display: none;
        }

        .production-title {
            background-image: url(../img/069_op.png);
            background-size: cover;
            padding-top: 30px;
            padding-left: 15px;
            margin-bottom: 0px;
        }



        .friends-title {
            color: white;
            padding-top: 30px;
            margin-bottom: 15%;
            font-size: 20px;
        }

        .prod-add-title {
            color: white;
            font-size: 20px;
            width: 100%;
        }

        @media (max-width: 768px) {


            .prod-col {
                padding-right: 0;
                padding-left: 0;
            }
        }
        
        @media (max-width: 578px) {
            .company {
                font-size: 18px;

            }
        }

        

        @media (max-width: 470px) {
            .intro_about-img {
                margin-top: 50px;
            }
        }